/*  Hogwarts Component  */


/* .Hogwarts {} */

div.Header {
    background: rgba(25, 25, 25, 1.0);
    padding: 10px;
}


/*  CastleDash Component  */


/* .CastleDash {} */


/* .container {} */

footer.Footer {
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background: rgba(25, 25, 25, 1.0);
}