/* HouseDash Component  */

.houseDisplay {
    display: flex;
    flex-direction: row;
}

.houseArray {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/* House Component  */

.house {
    padding: 1%;
}

.hasFocus {
    color: rgba(255, 255, 255, 0.9);
    padding: 1%;
    font-weight: 400;
}

.noFocus {
    font-weight: 400;
}

@media (max-height: 480px) {}