/* House Component  */

.house {
    padding: 1em;
}


/* .dashView {} */


/* .expandedDashView {} */

.inFocus {
    color: #fff;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    font-weight: 700;
}


/* .outOfFocus {} */


/* HouseDash Component  */

.houseArray {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid black;
}

.houseInFocus {
    min-height: 450px;
}