/*  GENERAL HTML TAG STYLES  */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Risque', cursive;
}

button {
    height: 100%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.2em;
    background: transparent;
    text-align: center;
}
/* School Component Styles */
.School {
    min-height: 100vh;
}
.appHeading, .appHeadingActive{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 6vh;
    position: fixed;
    width:100%;
    background: rgba(245, 245, 245, 0.5);
}
.appHeading{
    height:100vh;
    justify-content: center;
}
/* CastleDash Component Styles */
.CastleDash {
    width: 100%;
}

.Dash {
    /* box-shadow: 0 0 6px 1px rgba(25, 25, 25, 0.1); */
    padding: 6vh 0 18vh;
}

/* House  */

.House {
    padding: 0.3em 0;
    text-align: center;
}
.scoreboard {
    max-width: 750px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sbOutWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    font-size: 1.2em;
    font-weight: 600;
}

.sbScore {
    font-size: 2.0em;
    box-shadow: 0 0 3px 1px rgba(25, 25, 25, 0.4);
    padding: 0.2em;
    margin: 0.2em auto;
    font-family: 'Black Ops One', cursive;
}

.secondaryNav{
    width: 100%;
    position: fixed;
    text-align: center;
    bottom:10vh;
    height: 6vh;
    background: rgba(250, 250, 250, 0.543);
}

/* Footer Component  */

.Footer {
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background: rgba(245, 245, 245, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footerSVG {
    height: 100%;
    transition: all 250ms ease;
}

.deathly_hallows {
    padding: 4px;
}

/* Panel Component  */
.Panel {
    margin: 0.2em auto;
    padding: 3px 4px;
}
.panelData{
    
}

/* Heading Component */

.HouseHeading {
    /* padding: 20px 5px 5px; */
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.emboldened {
    font-weight: 800;
    font-size: 1.5em;
}

.flexPrimary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flexSecondary {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/* Label Component */
.Label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



@media (max-width: 490px) {
    .scoreboard {
        max-width: 300px;
    }
}
@media (max-height: 450px) {}

@media (max-width: 439px) {
    .HouseHeading {
        flex-direction: column;
    }
    .flexSecondary {
        flex-direction: column;
        align-items: flex-start;
    }
    .houseNavigation {
        width: 100%;
    }
}