/*  Primary Body Styles  */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* ----------------------------------------------------------------  */


/*  Hogwarts Component  */


/* .Hogwarts {} */


/* ----------------------------------------------------------------  */


/*  CastleDash Component  */

.CastleDash {
    padding: 10px 0 90px;
}


/* ----------------------------------------------------------------  */


/* HouseDash Component  */


/* .houseDisplay {} */

.houseArray {
    position: fixed;
    background: rgba(235, 235, 235, 0.6);
    box-shadow: 0 0 6px 1px rgba(25, 25, 25, 0.4);
    bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/* ----------------------------------------------------------------  */


/* House Component  */

.House {
    padding: 0.3em 0;
}

.hasFocus {
    font-weight: 400;
}

.noFocus {
    font-weight: 400;
}


/* ----------------------------------------------------------------  */


/*  LocationDash Component  */

.locationPanels {
    border: 1px solid blue;
    width: 90%;
    margin: auto;
    box-shadow: 0 0 6px 1px rgba(25, 25, 25, 0.4);
}


/* ----------------------------------------------------------------  */


/*  Header Component  */

.Header {
    position: relative;
    top: 0;
    background: rgba(245, 245, 245, 1.0);
    box-shadow: 0 0 2px 1px rgba(25, 25, 25, 0.8);
    height: 30px;
    width: 100%;
}


/* ----------------------------------------------------------------  */


/*  Footer Component  */

.Footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: rgba(245, 245, 245, 0.9);
    box-shadow: 0 0 2px 1px rgba(25, 25, 25, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/* ----------------------------------------------------------------  */


/* Button Component  */

button {
    height: 100%;
    background: rgba(250, 250, 250, 1);
    border: 2px solid transparent;
    color: black;
    padding: 0 5em;
    text-align: center;
}

button:hover {
    background: rgba(220, 220, 230, 1);
}


/* ----------------------------------------------------------------  */


/* Panel Component */

.Panel {
    margin: 5px auto;
    padding: 3px 0;
    width: 100%;
}


/* ----------------------------------------------------------------  */


/*  Roster Component  */

.rosterPanel {
    background: rgba(245, 245, 245, 1.0);
    display: flex;
    flex-direction: row;
    line-height: 1em;
}

@media (max-height: 480px) {}