.Landing {
    height: 100vh;
    display: flex;
    vertical-align: middle;
    background: blue;
    justify-content: space-around;
}

.svgContainer {
    position: relative;
    width: 40%;
    height: 50vh;
    /* padding: 150px 0; */
    margin: 10% auto 0;
    /* background: black; */
}

.triangle {
    position: absolute;
    animation-name: introCloak, rock;
    animation-delay: 0s, 3s;
    animation-duration: 3s, 12s;
    animation-direction: normal;
    animation-iteration-count: 1, infinite;
    animation-timing-function: ease-out;
}

.circle {
    position: absolute;
    bottom: 10;
    animation-name: introStone, spin;
    animation-delay: 0s, 3s;
    animation-duration: 3s, 6s;
    animation-direction: normal;
    animation-iteration-count: 1, infinite;
    animation-timing-function: linear;
}

.wand {
    position: absolute;
    top: 0;
    animation-name: introWand, spin;
    animation-delay: 0s, 3s;
    animation-duration: 3s, 4s;
    animation-direction: normal, reverse;
    animation-iteration-count: 1, infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes introCloak {
    0% {
        transform: rotateY(-90deg)
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes introStone {
    0% {
        transform: rotateY(270deg);
    }
    70% {
        transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes introWand {
    0% {
        transform: rotateX(270deg);
    }
    90% {
        transform: rotateX(270deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

@keyframes rock {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(-15deg);
    }
    75% {
        transform: rotateY(15deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}